.container {
    width: fit-content;
    margin: auto auto;
    text-align: center;
}

.title {
    font-size: 2.6rem;
    font-weight: 700;
    color: var(--primary-color);
}

.logo {
    width: 11.2rem;
    height: 11.2rem;
    margin-top: 0.9rem;
}

.button {
    /* Button */
    width: 14.4rem;
    height: 4rem;
    margin-top: 5rem;

    background: var(--primary-color);
    border-radius: 1rem;
    --border-radius: 1rem;
    filter: drop-shadow(0 0.6rem 0.2rem rgba(0, 0, 0, 0.25));
    
    /* Button Text */
    font-size: 1.4rem;
    font-weight: 700;
}

.alert .alert-button {
    font-size: 2.6rem;
    
}